asgiref==3.5.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.10.0
confusable-homoglyphs==3.2.0
Django==4.0.3
django-bootstrap4==22.1
django-registration==3.2
django-tinymce==3.4.0
Pillow==9.1.0
psycopg2==2.9.3
pytz==2022.1
soupsieve==2.3.1
sqlparse==0.4.2
