{% load bootstrap4 %} {% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"> {% if title %}
    <title>Awwwards Projects - {{title}}</title>
    {% else %}
    <title> Awwwards Projects </title>
    {% endif %} {% block styles %} {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}"> {% endblock %}
</head>

<body>
    <a href="https://www.savethechildren.org/us/where-we-work/ukraine" target=" _blank ">
        <h3 class='text-center' style="background-color:black;color:white; ">#StopWarInUkraine
            <img src="https://freepikpsd.com/file/2019/10/ukraine-flag-png-Transparent-Images.png " height="20 " width="20 "> Save the children</h3>
    </a>
    {% include "navbar.html" %} {% block content %}
    <h1 class='text-center'>Welcome to Awwwards Projects{{date|date:"l d-F Y "}}</h1> {%endblock%} {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js "></script>
    {% bootstrap_javascript %} {% endblock %}

</body>

</html>