{%extends 'base.html'%} {% load crispy_forms_tags %} {% block content %} {{block.super}}
<!-- Looping through category  -->
{% for i in posts %}


<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card" style="width: 45rem;">
            <a href="post/{{i.id }}/" class="open-project"><img class="card-img-top" src="{{i.photo.url}}" alt="Card image cap"></a>
            <div class="card-body">
                <h5 class="card-title">{{i.title}}</h5>
                <p class="card-text">{{i.description}}</p>
                </p>
                <a href="{{i.url}}" class="btn btn- primary">View Project</a>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>



{% endfor %} {% endblock %}