{%extends 'base.html'%} {% load crispy_forms_tags %} {% block content %} {{ block.super}}


<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <h2 class="text-center">{{ post.title }}</h2>

        <img src="{{post.photo.url}}" class="img-thumbnail" alt="Image" onclick="window.open(this.src)">
        <div class="row">{% autoescape on %} {{post.description| safe}} {% endautoescape %}
        </div>
        <header class="section-heading ">
            <h5>Reviews</h5>
        </header>

        <h2 class="title">{{ post.title}}</h2>
        <div class="rating-star">
            <span>
                <i class="fa fa-star{% if post.averageReview < 0.5 %}-o{% elif post.averageReview >= 0.5 and post.averageReview < 1 %}-half-o {% endif %}" aria-hidden="true"></i>
                <i class="fa fa-star{% if post.averageReview < 1.5 %}-o{% elif post.averageReview >= 1.5 and post.averageReview < 2 %}-half-o {% endif %}" aria-hidden="true"></i>
                <i class="fa fa-star{% if post.averageReview < 2.5 %}-o{% elif post.averageReview >= 2.5 and post.averageReview < 3 %}-half-o {% endif %}" aria-hidden="true"></i>
                <i class="fa fa-star{% if post.averageReview < 3.5 %}-o{% elif post.averageReview >= 3.5 and post.averageReview < 4 %}-half-o {% endif %}" aria-hidden="true"></i>
                <i class="fa fa-star{% if post.averageReview < 4.5 %}-o{% elif post.averageReview >= 4.5 and post.averageReview < 5 %}-half-o {% endif %}" aria-hidden="true"></i>
<span>{{post.countReview}} reviews</span>
            </span>
        </div>
        <form action="post/{{i.id }}/" method="post">
            {% csrf_token %}
            <h5>Write your review</h5>
            <div>
                <!-- !Rating Stars -->
                <label for="">How do you rate this project?</label>
                <div class="rate">
                    <input type="radio" name="rating" id="rating10" value="5" required/> <label for="rating10" title="5"></label>
                    <input type="radio" name="rating" id="rating9" value="4.5" required/> <label for="rating9" title="4.5" class="half"></label>
                    <input type="radio" name="rating" id="rating8" value="4" required/> <label for="rating8" title="4"></label>
                    <input type="radio" name="rating" id="rating7" value="3.5" required/> <label for="rating7" title="3.5" class="half"></label>
                    <input type="radio" name="rating" id="rating6" value="3" required/><label for="rating6" title="3"></label>
                    <input type="radio" name="rating" id="rating5" value="2.5" required/><label for="rating5" title="2.5" class="half">
                    <input type="radio" name="rating" id="rating4" value="2" required/> <label for="rating4" title="2"></label>
                    <input type="radio" name="rating" id="rating3" value="1.5" required/><label for="rating3" title="1.5" class="half"></label>
                    <input type="radio" name="rating" id="rating2" value="1" required/> <label for="rating2" title="1"></label>
                    <input type="radio" name="rating" id="rating1" value="0.5" required/> <label for="rating1" title="0.5" class="half"></label>
                </div>
                <br> Review Title :
                <input type="text" class="form-control" cols="50" name="subject"><br>
                <p>Review:</p>
                <textarea name="review" cols="50" rows="4"></textarea> <br> {% if user.is_authenticated %}<input type="submit" class="btn btn-primary" value="Submit Review "> {% else %}
                <p>You must be logged in to submit a review</p>
                <a href="/accounts/login"> Login now</a>{% endif %}
            </div>

            {% include 'includes/alert.html' %}
        </form>
        <div class='col-md-4'>
            <h3>Customer Reviews</h3><br>
            <h4>Great</h4><br>
            <p> Its a nice project.</p>
        </div>
        {% for review in post.reviews %}
        <article class="box mb-3">
            <div class="icontext w-100">

                <div class="text">
                    <span class="date text-muted float-md-right">{{review.updated_at}} </span>
                    <h6 class="mb-1">{{review.user.name}} </h6>
                    <div class="rating-star">
                        <span>
                            <i class="fa fa-star{% if review.rating == 0.5 %}-half-o{% elif review.rating < 1 %}-o {% endif %}" aria-hidden="true"></i>
                            <i class="fa fa-star{% if review.rating == 1.5 %}-half-o{% elif review.rating < 2 %}-o {% endif %}" aria-hidden="true"></i>
                            <i class="fa fa-star{% if review.rating == 2.5 %}-half-o{% elif review.rating < 3 %}-o {% endif %}" aria-hidden="true"></i>
                            <i class="fa fa-star{% if review.rating == 3.5 %}-half-o{% elif review.rating < 4 %}-o {% endif %}" aria-hidden="true"></i>
                            <i class="fa fa-star{% if review.rating == 4.5 %}-half-o{% elif review.rating < 5 %}-o {% endif %}" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
            </div>
            <!-- icontext.// -->
            <div class="mt-3">
                <h6>{{review.subject}}</h6>
                <p>
                    {{review.review}}
                </p>
            </div>
        </article>
        {% endfor %}
    </div>

    <!-- !^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ -->
    <div class="col-md-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 d-flex flex-row mx-auto" style="margin-top:20%">
                    {% for rating in post.ratings.all %} {% if forloop.counter is post.ratings.all.count %}
                    <div id="design">{{ rating.design_average}}<br>
                        <span class="rates">design</span>
                    </div>
                    <div id="usable" class="mx-auto">{{ rating.usability_average }}<br>
                        <span class="rates">usability</span>
                    </div>
                    <div id="contente">{{ rating.content_average }}<br>
                        <span class="rates">content</span>
                    </div>
                    {% endif %} {% endfor %}
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="card-body">
                <h5 class="card-title"><strong>{{post.title|title}}</strong>
                    <a href="{{ post.url }}" style="float:right" class="btn btn-sm btn-info mr-4"> Visit </a></h5>
                </p>
                <p>{{ post.description }}</p>
                <hr>
                <p class="card-text "><img src="{{post.user.profile.profile_picture.url}}" class="nav-img mr-2" alt=""> By {{post.user.username|title}} <span style="float:right">{{post.date|date}}</span>
                </p>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <h3 class="D-block mx-auto">Ratings Scores</h3>
                        {% for rating in post.ratings.all %} {% if forloop.counter is post.ratings.all.count %}
                        <a class="btn btn-info btn-sm">
                            <h5>{{ rating.score }}</h5>
                            <span class="sc">Average Score</span>
                        </a>
                        <a class="btn btn-outline-success btn-sm">
                            <h5>{{ rating.design_average }}</h5>
                            <span class="sc">Design Average</span>
                        </a>
                        <a class="btn btn-outline-primary btn-sm" id="u">
                            <h5>{{ rating.usability_average }}</h5>
                            <span class="sc">Usability Average</span>
                        </a>
                        <a class="btn btn-outline-danger btn-sm" id="c">
                            <h5>{{ rating.content_average }}</h5>
                            <span class="sc">Content Average</span>
                        </a>
                        {% endif %} {% endfor %}
                    </div>
                    <div class="col-md-2"></div>
                </div>

                {% if rating_status %}
                <h5>You have already voted</h5>
                {% else %} {% if user.is_authenticated %}
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %} {{rating_form|crispy}}
                    <button class="btn btn-sm btn-info">Rate</button>
                </form>
                {% endif %} {% endif %}
            </div>
        </div>

    </div>
    <!-- *&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& -->


    <div class="col-md-1"></div>
</div>

{% endblock %}