{%extends 'base.html'%} {% block content %} {{ block.super}}


<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h2 class="text-center">{{ post.title }}</h2>

        <img src="{{post.photo.url}}" class="img-thumbnail" alt="Image" onclick="window.open(this.src)">
        <div class="row">{% autoescape on %} {{post.description| safe}} {% endautoescape %}
        </div>
        <header class="section-heading ">
            <h5>Reviews</h5>
        </header>
        <form action=" " method="post ">
            {% csrf_token %}
            <h5>Write your review</h5>
            <div>
                <!-- !Rating Stars -->
                <label for=" ">How do you rate this project?</label>
                <div class="rate ">
                    <input type="radio " name="rating " id="rating10 " value="5 " required/> <label for="rating10 " title="5 "></label>
                    <input type="radio " name="rating " id="rating9 " value="4.5 " required/> <label for="rating9 " title="4.5 " class="half "></label>
                    <input type="radio " name="rating " id="rating8 " value="4 " required/> <label for="rating8 " title="4 "></label>
                    <input type="radio " name="rating " id="rating7 " value="3.5 " required/> <label for="rating7 " title="3.5 " class="half "></label>
                    <input type="radio " name="rating " id="rating6 " value="3 " required/><label for="rating6 " title="3 "></label>
                    <input type="radio " name="rating " id="rating5 " value="2.5 " required/><label for="rating5 " title="2.5 " class="half ">
                                <input type="radio " name="rating " id="rating4 " value="2 " required/> <label for="rating4 " title="2 "></label>
                    <input type="radio " name="rating " id="rating3 " value="1.5 " required/><label for="rating3 " title="1.5 " class="half "></label>
                    <input type="radio " name="rating " id="rating2 " value="1 " required/> <label for="rating2 " title="1 "></label>
                    <input type="radio " name="rating " id="rating1 " value="0.5 " required/> <label for="rating1 " title="0.5 " class="half "></label>
                </div>
                <br> Review Title :
                <input type="text " class="form-control " cols="50 " name="subject "><br>
                <p>Review:</p>
                <textarea name="review " cols="50 " rows="4 "></textarea> <br><input type="submit " class="btn btn-primary " value="Submit Review ">
            </div>
        </form>
        <div class='row'>
            <p>Randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn 't anything embarrassing hidden in the middle of text. </p>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

{% endblock %}