{%extends 'base.html'%} {% load bootstrap4 %} {% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-6">
            <div class="panel panel-default" style="margin-top:5%">
                <img class="card-img-top mb-10 img-responsive" src="{{project.image.url}}" style="height:auto;width:100%">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p> <span style="font-weight: 700;">Title : </span> {{project.title}} </p>
                            <p>
                                <span style="font-weight: 700;">Description : </span> {{ project.description }}
                            </p>
                            <p><a href="{{project.url}}" class="text-right" target="_blank" style="text-decoration: none;">
                                    Go live <img src="https://img.icons8.com/color/48/000000/circled-up-right--v1.png"
                                        style="width:25px;height:auto" />
                                </a></p>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h2 class="mt-4">Review Rate</h2>
            {% if rating_status %}
            <h5>You have already done your review</h5>
            {% else %} {% if user.is_authenticated %}
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %} {% bootstrap_form form %}
                <button class="btn btn-sm btn-info btn-block" style="margin-top:4px;" value="review" type="submit">Rate</button>
            </form>
            {% endif %} {% endif %}
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-7">
            {% for reviews in reviews %} {% if project.id == reviews.project.id %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Scores</h5>
                    <h6 class="card-subtitle mb-2 text-muted" id="c">Average: {{ reviews.average }}</h6>
                    <p class="card-text">Design: {{reviews.design}}</p>
                    <p class="card-text">Usability: {{reviews.usability}}</p>
                    <p class="card-text">Content: {{reviews.content}}</p>
                    <h5>Rated by: <em>{{reviews.user.username}}</em></h5>
                </div>
            </div>
            <!-- {% widthratio reviews.average ratings|length 1%} -->
            {% endif %} {% endfor %}
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

{% endblock %}